<configuration>
    <variable name="ENV_LOG_LEVEL" value="${ENV_LOG_LEVEL:-INFO}"/>
    <variable name="ACTIVE_APPENDER" value="STDOUT_JSON"/>

    <if condition='isDefined("NO_JSON_LOGGING")'>
        <then>
            <variable name="ACTIVE_APPENDER" value="STDOUT_TEXT"/>
        </then>
    </if>

    <appender name="STDOUT_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{pekkoSource}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                <includeThreadName>false</includeThreadName>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
                <appendLineSeparator>true</appendLineSeparator>
            </layout>
        </encoder>
    </appender>

    <root level="${ENV_LOG_LEVEL}">
        <appender-ref ref="${ACTIVE_APPENDER}"/>
    </root>
</configuration>
